.scorecard {
    font-family: Arial, sans-serif;
    margin: 20px;
    border-collapse: collapse;
    border: 1px solid #006400;
  }
  .scorecard-title{
    display: flex;
    justify-content: space-between;
    background-color: #006400;

  }
  .list-container{
    display: flex;
    overflow: auto;
  }
  .list-container-fragment{
    display: block;
    overflow: auto;
    border: 1px solid black;
  }
  .scorecard h2 {
    color: #fff;
    /* padding: 10px; */
    text-align: center;
  }
  
  .scorecard ul {
    display: flex;
    flex: 1;
    list-style-type:armenian;
    text-wrap: nowrap;
    padding: 0;
  }
  
  .scorecard li {
    display: grid;
    font-size: medium;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f0f0f0;
    margin-bottom: 1px;
    padding: 10px;
  }
  
  .scorecard li:nth-child(even) {
    background-color: #ddd;
  }
  
  .scorecard li span {
    text-align: center;
  }
  
  /* Additional styling as needed */
  